@font-face {
  font-family: "MarkerFelt";
  src: url("./10062.ttf");
}

body {
  margin: 0;
  height: auto;
  font-family: MarkerFelt, serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(to top left, powderblue, pink);
}

p{
  font-family: MarkerFelt, serif;
}

a{
  font-family: MarkerFelt, serif;
}

h1{
  font-family: MarkerFelt, serif;
}

input{
  font-family: MarkerFelt,serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}
